.indexTecnicas {
    width: 100%;

    .row1 {
        width: 100%;
        height: 30vh;

        .boxTxt1 {
            width: auto;
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: calc(3rem + 1vw);

            h2 {
                color: map-get($color, "grey100");
                font-family: map-get($font, "headline");
                font-size: map-get($fontSize, "heading2");
                text-align: left;
            }
        }
    }

    .row2 {
        width: 100%;
        height: 100%;

        .boxImg1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 100px;

            img {
                width: 100%;
            }
        }

        .boxTxt1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin-left: 30px;

            .txt1 {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                margin-top: 20px;
                text-align: left;

                h3 {
                    color: map-get($color, "primary3");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.5rem + 0.5vw);
                }

                p {
                    color: map-get($color, "black");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.3rem + 0.5vw);
                    margin-left: 5px;
                    position: relative;
                    top: 4px
                }
            }

            .txt2 {
                text-align: left;
                width: 60%;
                margin-top: 10px;

                p {
                    color: map-get($color, "black");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.5rem + 0.5vw);
                }
            }

            .btn1 {
                color: map-get($color, "white");
                background-color: map-get($color, "primary3");
            }
        }

    }

    .row3 {
        width: 100%;
        height: 100%;

        .boxTxt1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;


            .txt1 {
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
                margin-top: 20px;
                text-align: right;

                h3 {
                    color: map-get($color, "primary3");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.5rem + 0.5vw);
                }

                p {
                    color: map-get($color, "black");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.3rem + 0.5vw);
                    margin-left: 5px;
                    position: relative;
                    top: 4px
                }
            }

            .txt2 {
                text-align: right;
                width: 60%;
                margin-top: 10px;

                p {
                    color: map-get($color, "black");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.5rem + 0.5vw);
                }
            }

            .btn1 {
                color: map-get($color, "white");
                background-color: map-get($color, "primary3");
            }
        }

        .boxImg1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            margin-right: 100px;

            img {
                width: 100%;
            }
        }

    }

    .row4 {
        width: 100%;
        height: 100%;

        .boxImg1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 100px;

            img {
                width: 100%;
            }
        }

        .boxTxt1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin-left: 30px;

            .txt1 {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                margin-top: 20px;
                text-align: left;

                h3 {
                    color: map-get($color, "primary3");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.5rem + 0.5vw);
                }

                p {
                    color: map-get($color, "black");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.3rem + 0.5vw);
                    margin-left: 5px;
                    position: relative;
                    top: 4px
                }
            }

            .txt2 {
                text-align: left;
                width: 60%;
                margin-top: 10px;

                p {
                    color: map-get($color, "black");
                    font-family: map-get($font, "alternative1");
                    font-size: calc(0.5rem + 0.5vw);
                }
            }

            .btn1 {
                color: map-get($color, "white");
                background-color: map-get($color, "primary3");
            }
        }

    }
}