.container-fluid {
    width: 100%;
}

//Porque no me lo agranda un 100%

.indexHeader {
    background-color: map-get($color, "grey900");
    box-shadow: 0px 5px 20px lightgray;
    width: 100%;

    nav {
        padding: 10px;
        height: auto;
        width: 100%;

        .navbar-brand img {
            height: auto;
            width: 120px;
        }

        .navbar-collapse a {
            color: map-get($color, "black");
            font-family: map-get($font, "alternative1");
            font-size: map-get($fontSize, "paragraph");

            &:hover {
                color: map-get($color, "primary3");
            }
        }
    }
}