$btnColor : (
    "primary" : $primary3,
    "secondary" : $secondary3,
    "black" : $black,
    "white" : $white,
);

$btnBackgroundColor : (
    "primary" : $primary3,
    "secondary" : $secondary3,
    "black" : $black,
    "white" : $white,
);

// $btnSize : (
//     "small" : .25rem .5rem,
//     "medium" : .45rem 1rem,
//     "large": 1rem 2rem,
// );

$btnFontSize: (
    "xsmall" :  .4rem,
    "small" :  .6rem,
    "medium" : 1rem,
    "large": 1.25rem,
);


