@media screen and (max-width: 576px) {
    .indexMain {
        height: auto;
        width: 100%;

        .boxTitle1 {
            background-image: url("../../assets/images/top/fondoInicio.png");
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            div {
                width: 90%;
                
                h1 {
                    color: map-get($color, "white");
                    font-family: map-get($font, "headline");
                    font-size: 2rem;
                    position: relative;
                    top: 20px;
                }

                .titleTxt1 {
                    display: flex;
                    flex-direction: row;

                    .txt1 {
                        color: map-get($color, "white");
                        font-family: map-get($font, "headline");
                        font-size: 1rem;
                        text-align: left;
                        position: relative;
                        top: 32px;
                    }

                    .txt2 {
                        color: map-get($color, "white");
                        font-family: map-get($font, "headline");
                        font-size: 3.5rem;
                        text-align: left;
                        margin-left: 0px;
                        position: relative;
                        top: 0px;
                    }
                }

                .titleTxt2 {

                    .txt1 {
                        color: map-get($color, "white");
                        font-family: map-get($font, "alternative1");
                        font-size: .5rem;
                        text-align: left;
                        position: relative;
                        bottom: 10px;
                        // display: none;
                    }

                    .txt2 {
                        color: map-get($color, "white");
                        font-family: map-get($font, "alternative1");
                        font-size: .6rem;
                        text-align: left;
                        position: relative;
                        bottom: 10px;
                    }
                }

                .btn1 {
                    color: map-get($color, "white");
                    background-color: map-get($color, "primary3");
                    // padding:map-get($btnSize , "small" );
                    font-size: map-get($btnFontSize, "xsmall")
                }
            }
        }

        .boxImg1 {
            height: 100%;
            width: 100%;

            div {
                img {
                    height: auto;
                    width: 100%;
                    box-shadow: 0px 5px 20px black;
                }
            }
        }
    }

    .indexVrindha {
        height: auto;
        width: 100%;
    
        .boxImg1 {
            img {
                // width: 625px;
                // height: 391px;
                width: 100%;
                height: auto;
            }
        }
    
        .boxTxt1 {
            width: auto;
            height: 100%;
            background-color: map-get($color, "primary3");
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: calc(1rem + 1vw);
    
            h1 {
                color: map-get($color, "white");
                font-family: map-get($font, "alternative1");
                font-size: map-get($fontSize, "paragraph");
                text-align: left;
            }
    
            p {
                color: map-get($color, "white");
                font-family: map-get($font, "alternative1");
                font-size: calc(0.4rem + 0.5vw);
                text-align: left;
            }
        }
    }
}
