//========== LANCELOT ==========
@font-face {
    font-family: 'LancelotRegular';
    src: url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
}

//========== ABeeZee ==========
@font-face {
    font-family: 'ABeeZeeRegular';
    src: url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
}

@font-face {
    font-family: 'ABeeZeeItalic';
    src: url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');
}